@media (min-width: 768px) {
	.header {
		.navbar-desktop {
			&__link {
				display: inline-block;
			}
		}
        .burger-box{
            display: none;
        }
	}
    .about-us{
        &__heading{
            font-size: 3.2rem;
        }
        &__text{
            padding: 0 8.4rem;
            &-title{
                font-size: 2.4rem;
                padding: 1.8rem 0;
            }
            &-description{
                font-size: 1.8rem;
                line-height: 2.4rem;
            }
        }
    }
    .adventure{

        &__container{

            &-text{
                font-size: 2.2rem;
                padding: 4rem 8rem;
            }
        }
    }
}
