@media (min-width: 576px) {
	.header {
		.hero {
			&__text {
				padding: 1rem 6rem;
				&-company {
					font-size: 2.2rem;
				}
				&-title {
					font-size: 3.2rem;
				}
			}
		}
	}
    .about-us{
        &__text{
            padding: 0 4.4rem;
            &-title{
                font-size: 2.2rem;
                padding: 1.8rem 0;
            }
            &-description{
                font-size: 1.6rem;
            }
        }
    }
    .adventure{

        &__container{

            &-text{
                font-size: 2rem;
                padding: 3rem 5rem;
            }
        }
    }
    
    .offers{
        &-cards{
            gap: 2.5rem;
        }
    }
}
