@use 'utilities';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Hind', sans-serif;
	font-family: 'Montserrat', sans-serif;
	background-color: utilities.$base-color;
	color: utilities.$text-color;
	transform: translateZ(-1px);
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.hidden {
	visibility: hidden;
}
.active {
	visibility: visible;
}

.body-hidden{
	overflow: hidden;
}

@keyframes linksAnimation {
	from {
		transform: translateY(200%);
	}
	to {
		transform: translateY(0);
	}
}

.links-animation {
	animation: linksAnimation 1s both;
}
.header {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	.burger-box {
		z-index: 200;
		&__bars {
			display: flex;
			position: absolute;
			top: 2%;
			right: 8%;
			transform: translate(-10%, -5%);

			&-btn {
				position: relative;
				font-size: 2.2rem;
				padding: 2rem;
				background: none;
				border: 1px solid transparent;
				cursor: pointer;

				&-hamburger {
					position: relative;
				}
				&-exit {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
	.navbar-desktop {
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding: 2rem 2rem;
		align-items: center;
		background-color: utilities.$white;

		&__name {
			font-size: 3.2rem;
			color: utilities.$black;
			text-decoration: none;
		}
		&__link {
			display: none;
			padding: 1.6rem 2rem;
			justify-self: space-around;
			font-size: 1.8rem;
			color: utilities.$black;
			text-decoration: none;
		}
	}
	&__menu {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, 1fr);
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transform: translateX(100%);
		transition: transform 0.5s;
		background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
		letter-spacing: 0.2rem;
		overflow: hidden;
		z-index: 100;
		&--active {
			transform: translateX(0);
		}

		&-link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.6rem;
			color: utilities.$black;
			text-decoration: none;

			&--first {
				grid-row: 3/4;
			}
			&--second {
				grid-row: 4/5;
			}
			&--third {
				grid-row: 5/6;
			}
			&--fourth {
				grid-row: 6/7;
			}

			&::before {
				position: absolute;
				content: '';
				bottom: 25%;
				left: 50%;
				width: 5rem;
				height: 100%;
				border-bottom: 2px solid utilities.$white;
				transition: transform 0.3s;
			}
			&::after {
				position: absolute;
				content: '';
				bottom: 25%;
				right: 50%;
				width: 5rem;
				height: 100%;
				border-bottom: 2px solid utilities.$white;
				transition: transform 0.3s;
			}
			&:hover::before,
			&:hover::after {
				transform: scaleX(2);
			}
		}
	}
	.hero {
		&__bg {
			position: relative;
			width: 100%;
			height: 100vh;
			background-size: cover;
			background-position: center;
			z-index: -10;
			&--first {
				background-image: url(/src/img/forest-mobile.jpg);
			}
			&--second {
				background-image: url(/src/img/trees-mobile.jpg);
			}
			&--third {
				background-image: url('/src/img/contact-mobile.jpg');
			}

			&-shadow {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background-color: utilities.$shadow1;
				z-index: -5;
			}
		}
		&__text {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			height: 100%;
			padding: 1rem 3.5rem;
			color: utilities.$base-color;

			&-company {
				font-weight: 200;
				font-size: 1.8rem;
			}
			&-title {
				font-size: 2.8rem;
			}
		}
	}
}

.about-us {
	margin-bottom: 5rem;
	&__heading {
		padding: 5rem 4rem;
		font-size: 2.8rem;
		color: utilities.$black;
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
	}
	&__text {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr, 0.5fr, 1fr;
		padding: 0 3.2rem;

		&-title {
			grid-column: 1/3;
			grid-row: 2/3;
			font-size: 1.8rem;
			padding: 1.6rem 0;
		}

		&-description {
			grid-column: 1/3;
			grid-row: 3/4;
			font-size: 1.4rem;
			line-height: 2rem;
		}

		&-photo {
			grid-column: 1/3;
			width: 100%;
			grid-row: 1/2;
		}
	}
}

.adventure {
	position: relative;
	background-image: url('/src/img/girl-mobile.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
	width: 100%;
	height: 20rem;
	z-index: -10;

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: utilities.$shadow2;
		z-index: -5;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		text-align: center;
		padding: 0 3rem;

		&-text {
			border: 1px solid utilities.$base-color;
			color: utilities.$white;
			padding: 2rem 4rem;
			font-size: 1.6rem;
		}
	}
}

.offers {
	margin: 5rem 0;

	&-icon-check {
		color: utilities.$accent-color;
		padding: 0 1rem;
	}
	&-icon-minus {
		color: utilities.$gray;
		padding: 0 1rem;
	}

	&-offer {
		text-transform: uppercase;
		text-align: center;
		font-size: 2.8rem;
		color: utilities.$black;
		font-weight: 400;
		padding: 2rem 0;
	}
	&-text {
		text-align: center;
		font-size: 1.6rem;
		padding: 0 2rem;
		margin-bottom: 2.2rem;
		&-link {
			position: relative;
			color: utilities.$btn-hover-highlighted;
			font-weight: 700;
			text-decoration: none;
			z-index: 0;
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 0;
				width: 100%;
				background-color: utilities.$btn-hover-highlighted;
				transition: height 0.3s;
				z-index: -1;
			}
			&:hover {
				color: utilities.$text-color;
			}
			&:hover::after {
				height: 100%;
			}
		}
	}

	&-cards {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		gap: 1.5rem;

		&-option {
			list-style: none;
			font-size: 1.4rem;
			padding: 0.1rem 0;
			&-out {
				color: utilities.$gray;
			}
		}
		&__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 25rem;
			box-shadow: 0 0 10px utilities.$gray;
			border-radius: 5px;
			background-color: utilities.$white;

			&--first,
			&--second,
			&--third {
				justify-self: center;
			}
			&--first {
				grid-row: 1/2;
			}
			&--second {
				grid-row: 2/3;
			}
			&--third {
				grid-row: 3/4;
			}
			&-heading {
				font-weight: 400;
				margin-top: 1.6rem;
				font-size: 2rem;
				color: utilities.$black;
				font-family: 'hind', sans-serif;
			}
			&-price {
				font-weight: 700;
				font-size: 1.6rem;
				padding: 1.2rem 0;
				color: utilities.$black;
			}
			&-icon {
				font-size: 1.6rem;
			}
			&-btn {
				cursor: pointer;
				background: none;
				border: none;
				width: 15rem;
				align-self: center;
				padding: 1rem 2rem;
				border-radius: 0.5rem;
				margin-top: 1.8rem;
				margin-bottom: 3rem;
				font-weight: 700;
				box-shadow: -2px 3px 15px utilities.$gray;
				transition: background-color 0.3s;
				&:hover {
					background-color: utilities.$btn-hover;
				}
				&-highlighted {
					background-color: utilities.$accent-color;
					&:hover {
						background-color: utilities.$btn-hover-highlighted;
					}
				}
			}
		}
	}
}

.footer {
	background-color: utilities.$footer-background;
	&-box {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		gap: 1.5rem;
		padding: 5rem 2rem;

		&__company {
			grid-row: 1/2;
			font-size: 3.2rem;
			color: utilities.$black;
			justify-self: center;
			align-self: center;
		}
		&__category {
			display: flex;
			justify-self: center;
			flex-direction: column;
			text-align: center;

			&-heading {
				font-size: 1.6rem;
				color: utilities.$black;
				letter-spacing: 0.1rem;
				margin-bottom: 0.5rem;
			}
			&--aboutus {
				grid-row: 2/3;
			}
			&--company {
				grid-row: 3/4;
			}
			&--docs {
				grid-row: 4/5;
			}

			&-link {
				text-decoration: none;
				font-size: 1.4rem;
				color: utilities.$text-color;
				line-height: 2rem;
				transition: color 0.3s;
				&:hover {
					color: utilities.$gray;
				}
			}
			&-li {
				list-style: none;
			}
		}
	}
	&__bottom {
		&-text {
			text-align: center;
			font-size: 1.2rem;
			font-family: 'Hind', sans-serif;
			padding: 1.2rem 0;

			.currentYear {
				margin-right: 0.6rem;
			}
		}
	}
}

// Podstrona Oferty
// --------------------------------------
.offer {
	&__title {
		letter-spacing: 0.2rem;
		color: utilities.$white;
		font-size: 4rem;
		text-align: center;
		padding: 6rem 0;
	}
	&__text {
		display: flex;
		justify-content: center;
		color: utilities.$footer-background;
		font-size: 1.7rem;
		text-align: center;
		padding: 0 3rem;
		margin-bottom: 2rem;

		&--second {
			margin-top: -1.2rem;
		}
		&-colored {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
			color: utilities.$accent-color;
			margin: 2rem 0;
			padding: 0 1.5rem;
		}
	}
	&__hero {
		position: relative;
		width: 100%;
		height: 100vh;
		background-position-y: top;
		background-repeat: no-repeat;
		background-size: cover;
		object-fit: contain;
		z-index: -10;

		&-shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: utilities.$shadow1;
			z-index: -5;
		}
	}
}

.options {
	width: 100%;
	height: 100%;
	padding: 4rem 0rem;
	overflow: hidden;

	&__text {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		justify-content: center;
		padding: 3rem 4rem;
		&-heading,
		&-description {
			padding: 0 3rem;
		}
		&-heading {
			font-size: 1.8rem;
		}
		&-description {
			font-size: 1.6rem;
			margin: 2rem 0;
		}

		&-btn {
			position: relative;
			background: none;
			cursor: pointer;
			padding: 1rem 2rem;
			margin: 2rem;
			border: 1px solid utilities.$black;
			width: 10rem;
			justify-self: flex-end;
			background-color: utilities.$white;
			letter-spacing: 0.1rem;
			transition: color 0.3s;
			&::before {
				content: '';
				position: absolute;
				border: 1px solid black;
				top: 0.3rem;
				left: 0.3rem;
				width: 105%;
				height: 110%;
			}
			&:hover {
				color: utilities.$btn-hover-highlighted;
			}
		}
		&-img {
			width: 100vw;
			object-fit: contain;
			margin-top: 2rem;
		}

		.fa-solid {
			margin-right: 1rem;
		}
	}
}

// Podstrona Kontakt
// ---------------------------------------------------------

.contact {
	&__title {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		font-size: 4rem;
		color: utilities.$white;
		letter-spacing: 0.5rem;

		&::before,
		&::after {
			position: absolute;
			content: '';
			width: 40%;
			height: 50%;
			border-top: 1px solid utilities.$white;
		}

		&::before {
			top: 25%;
			left: 0;
		}
		&::after {
			bottom: -25%;
			right: 0;
		}
	}
	&__text {
		font-size: 2rem;
		padding: 5rem 0;
		text-align: center;
		font-weight: 700;
	}
	&__main {
		position: relative;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		justify-content: center;
		align-items: center;

		&::before {
			position: absolute;
			content: '';
			top: -2rem;
			left: 1.5rem;
			height: 350%;
			width: 1.2rem;
			background-color: utilities.$accent-color;
		}
	}
	&__hq {
		grid-row: 1/2;

		&-heading {
			font-size: 1.8rem;
			padding: 1rem 0;
			text-transform: uppercase;
		}
		&-address {
			font-size: 1.6rem;
		}
	}
	&__data {
		grid-row: 2/3;
		&-items {
			font-size: 1.6rem;
			padding: 0.5rem 0;
		}
		.fa-solid {
			margin-right: 1rem;
		}
	}

	&__form {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		gap: 5rem;
		overflow: hidden;
		margin-bottom: 4rem;

		&-input,
		&-btn {
			display: block;
		}

		&-input,
		&-select {
			padding: 0.5rem 2rem;
		}
		&-textarea {
			padding: 1rem 2rem;
			resize:none;
		}

		&-btn {
			position: relative;
			cursor: pointer;
			padding: 1rem 2rem;
			font-weight: 700;
			background: none;
			border: 1px solid utilities.$black;
			background-color: utilities.$accent-color;
			letter-spacing: 0.1rem;
			&::before {
				content: '';
				position: absolute;
				border: 1px solid black;
				top: 0.3rem;
				left: 0.3rem;
				width: 105%;
				height: 110%;
			}
		}

		&-right {
			height: 100%;
			grid-row: 1/2;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}

		&-map {
			padding: 5rem 0;
			grid-row: 2/3;
			width: 100%;
			height: 40rem;
		}
	}
}

// AOS
// ----------------------------------------------------
[data-aos='slide-from-right'] {
	@media screen and (min-width: 768px) {
		transform: translateX(300px);

		&.aos-animate {
			transform: translateX(0);
		}
	}
}

[data-aos='slide-from-right-far'] {
	@media screen and (min-width: 768px) {
		transform: translateX(300%);

		&.aos-animate {
			transform: translateX(0);
		}
	}
}

[data-aos='slide-from-left'] {
	@media screen and (min-width: 768px) {
		transform: translateX(-300px);

		&.aos-animate {
			transform: translateX(0);
		}
	}
}

[data-aos='slide-from-left-far'] {
	@media screen and (min-width: 768px) {
		transform: translateX(-1200px);

		&.aos-animate {
			transform: translateX(0);
		}
	}
}

[data-aos="zoom-out-right"] {
	@media screen and (min-width: 768px) {
		transform: scale(2) translateX(-100px);

		&.aos-animate {
			transform: scale(1) translateX(0);
		}
	}
}

@import './small';

@import './medium';

@import './large';
