*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Hind', sans-serif;
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.hidden {
	visibility: hidden;
}
.active {
	visibility: visible;
}

.header {
	position: relative;
	width: 100vw;

	.burger-box {
		&__bars {
			display: flex;
			position: absolute;
			top: 5%;
			right: 10%;
			transform: translate(-10%, -5%);

			&-btn {
				font-size: 2.2rem;
				background: none;
				border: 1px solid transparent;
			}
		}
	}
	.navbar-desktop {
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding: 2rem 2rem;
		align-items: center;

		&__name {
			font-size: 3.2rem;
		}
		&__link {
			display: none;
			margin-right: 2rem;
			text-decoration: none;
			color: #000;
			justify-self: space-around;
			font-size: 2.6rem;
		}
	}
	.hero {
		&__bg {
			position: relative;
			width: 100%;
			height: 50rem;
			background-image: url(/src/img/forest-desktop.jpg);
			background-size: cover;
			background-position: center;
			z-index: -10;

			&-shadow {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 50rem;
				background-color: rgba(0, 0, 0, 0.6);
				z-index: -5;
			}
		}
		&__text {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			height: 100%;
			padding: 2rem 2rem;
			margin-left: 6rem;

			&-company {
				font-weight: 200;
				color: whitesmoke;
				font-size: 1.8rem;
			}
			&-title {
				color: whitesmoke;
				font-size: 2.8rem;
			}
		}
	}
}

@import './medium';
