*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Hind', sans-serif;
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.header {
	width: 100vw;
	.navbar {
		display: flex;
		justify-content: space-around;
		width: 100%;
		padding: 2rem 2rem;
		align-items: center;

		&__name {
			font-size: 3.2rem;
		}
		&__link {
			margin-right: 2rem;
			text-decoration: none;
			color: #000;
			justify-self: space-around;
			font-size: 2.6rem;
		}
	}
}
