$base-color: rgb(245, 245, 245);
$accent-color: #7FD686;
$btn-hover: rgb(244, 242, 247);
$btn-hover-highlighted: rgb(95, 205, 123);
$black: rgb(8, 7, 8);
$white: rgb(255, 255, 255);
$text-color: rgb(57, 50, 59);
$footer-background: rgb(234, 231, 238);
$shadow1: rgba(0, 0, 0, 0.6);
$shadow2: rgba(0, 20, 0, 0.6);
$gray: rgb(128, 128, 128);